*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: sans-serif;
  margin: 10px auto;
  margin-left: 15%;
  border: solid red;
}

div {
  height: 400px;
  float: left;
  width: 100%;
  background-color: #dadada;
  border: solid black;
}

/* code added to create two-column design */
@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }

/***this determines the font styling of all of our h1****/
h1 {
  font-size: 2.3em;
  font-family: serif;
  text-align: left;
  padding-left: 40px;
  padding-top: 30px;
  font-weight: 600;
}

/*** this is the the Modern Luxury Travel header***/
.emphasis {
  font-style: sans-serif;
  }

.emphasis h1 {
  font-size: 1.8em;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: 500;
  }

.preview_baku {
  background-image: url("../images/baku.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.preview_london {
  background-image: url("../images/london.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.preview_madrid {
  background-image: url("../images/madrid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.preview_rome {
  background-image: url("../images/rome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*** this is the container for all of the stylings below - gray***/
.container {
  background-color: #dadada;
  width: 100%;
  margin: 20px, auto;
  border: solid green;
  }
